.register {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100%;
    position: relative;
    flex-direction: column;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      padding: 32px;
      h2 {
        font-size: $heading-2;
        font-weight: $font-700;
      }
      p {
        font-size: $font-sm;
        font-weight: 400;
      }
    }
    .link {
      align-self: flex-start;
      margin-top: -22px; // reduced from gap 30px (Card)
      color: $color-blue-100;
    }
  }
  